MAIN_HOSTNAME=example.com
OPENROUTER_APIKEY=<openrouter_apiken>
TEST_MODEL_NAME=deepseek/deepseek-v3.2
GH_LOGIN_CLIENT_ID=<gh_cli_id>
GH_LOGIN_CLIENT_SECRET=<gh_cli_sec>
MAIN_DOMAIN=example.com
STUN_HOSTNAME=your-stun.example.com
